<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/fotos">Fotos</a></li>

                <li><a href="/fotos/masvotadas">Mas Votadas</a></li>

                <li><a href="fotos/menosvotadas">Menos votada</a></li>

                <li><a href="/new">Nueva Foto </a></li>
            </ul>
        </nav>
    </header>