<%- include('partials/nav')  %>

    <form action="/new/profile" method="post">
            <div>
                <label for="">Titulo</label>
                <input type="text" name="title" id="" >

                <label for="">URL</label>
                <input type="text" name="url" id="" >

                <label for="">Description</label>
                <input type="text" name="description" id="" >

                <input type="submit" value="iNSERTAR iMAGEN">
    </form>
</body>
</html>